* {
    box-sizing: border-box;
    transition: all 1s ease-out;
}

html,
body {    
    position:relative;
    display: block;

    margin: 0;
    padding: 0 0 0 0;

    width: 100vw;
    min-height:100vh;

    font-size: 18px;
    background-color: #fff;
}

.accueil header {
    background-color: #ffffff;
    height: 80px;
    padding: 10px;
    margin: 0px;
    overflow: hidden;
    width:100%;
    display:block;
}

nav{
    display:block;
    width:100%;
}

h1 {
    font-size: 3em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    display:block;
    text-align:center;
    width:100vw;
}

 #intro p {
    font-size: 1em;
    color: #ffffff;
    margin-top: 20px;
    display:block;
    text-align:center;
    width:100vw;    
}

.accueil article {
    position: relative;
    display: block;
    background-image: url("../media/mucem.jpg");
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: calc(100vh - 80px);
    min-height: 100vh;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

section {
    display: block;
    background-color: transparent;
}

#intro {
    display: block;
    position: relative;
    text-align:center;
    padding-top:50vh;
}

#bandeau {
    display: block;
    width:100vw;
    position: relative;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#infos {
    display: block;
    width:100vw;
    position: relative;
    text-align: center;
    margin: 0;
}

.logo {
    height: 60px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0px;
    left: 0px;
}

.btn-medium {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 1;
    min-width: 150px;
    font-weight:700;
}
.btn-medium:hover {
    color: #fff;
}
button:hover,
.dropdown-item:hover {
    color: #fff;
    background-color: rgb(43, 51, 110);
    cursor: pointer;
}

.dropdown-item:hover {
    display: block;
    z-index: 110;
    position: relative;
    top: 0px;
    left: 0px;
}

.dropdown {
    opacity: 1;
    position: relative;
}

.dropdown-menu {
    width: 100%;
    padding: 0px;
    z-index: 100;
    background-color: transparent;
}

.dropdown-item {
    display: block;
    color: #fff;
    background-color: rgb(43, 51, 110);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 2px;
    z-index: 110;
}

#infos h1 {
    color: #2b3376;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    text-transform: none;
    margin: 20px;
}

#lacarte{
    width: 50vw;
    height: 50vh;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
    display: none;
}

.hashtag {
    color: #f6df4d;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.8);
}

h2.hashtag{
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 700;
}

.marge {
    margin: 10px;
}

.btn-treehouse {
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    background: #6AD58B;
    transition: background-color 0.3s ease;
}

.btn-treehouse:hover {
    opacity: 1;
    background: #3ac162;
    text-decoration: none;
    color: white;
}

div.liste {
    display:block;
    position:relative;
    text-align:center;
}

div.listeInfo {
    display:inline-block;
    position:relative;
    width:10vw;
    height:10vw;
    margin:1vw;
}

.container{
    display: block;
    position:relative;
    width: 100vw;
    min-width:100vw;
}

footer {
    display: block;
    position:sticky;

    bottom:0px;
    left:0px;

    font-size: 1em;
    width:100vw;

    color: #333;
    background-color: #eeeeee;

    padding: 20px;
    text-decoration: none;
}

footer p,
footer a {
    font-size: 1em;
    text-decoration: none;
    color: #333;
    padding: 0;
    margin: 0;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 1.5em;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
    }

    #infos h1 {
        font-size: 1.5em;
        display:block;
        position:relative;
    }

    #intro p {
        font-size: 0.9em;
        color: #ffffff;
    }

    article{
        display:block;
        height:auto;
        min-height:150vh;
        overflow:hidden;
    }

    #intro {
        display:block;
        position:relative;
        height:auto;   
    }

    #bandeau{
        display:block;
        position:relative;
        bottom:0;
        height:auto;
    }
    #infos{
        display:block;
        position:relative;
        height:auto;
    }
    #social{
        display:block;
        position:relative;
        height:auto;
    }
    button, .bouton {
        display: inline-block;
        width: auto;
        padding:5px;
        margin:2px;
    }

    div.liste {
        display:block;
        position:relative;
    }
    
    div.listeInfo {
        display:inline-block;
        position:relative;
        width:25vw;
        height:25vw;
    }
}

