/* ************************************************************************************** */
/* **********************************  DEBUT HEADER  ************************************ */
/* ************************************************************************************** */
main{
    margin-top: 70px;
}

header.decouvrir{
    background-color: #B82B35;
}
/* ***********************************  FIN HEADER  ************************************* */


/* ************************************************************************************** */
/* ****************************  MAIN : DEBUT COLONNE GAUCHE  *************************** */
/* ************************************************************************************** */

/* .colonneg{
    padding-right: 5rem;
    padding-left: 5rem;
} */

.imgport{
    text-align: center;
}

.icons{
    text-align: center;
}




/* ***************************  MAIN : FIN COLONNE GAUCHE  ****************************** */



/* ************************************************************************************** */
/* ****************************  MAIN : DEBUT COLONNE DROITE  *************************** */
/* ************************************************************************************** */
.colonned{
    text-align: center;
}


.colonned > div > img {
    padding: 0px 0px 30px 0px;
    max-height: 9rem;

}

.colonned > div{
    box-sizing: content-box;
    max-width: 850px;
}

.image-decouvrir{
    height: 12rem;
    object-fit: cover;
}

/* ******************************  MAIN : FIN COLONNE GAUCHE  *************************** */


