.meteo-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  color: black;
}

.meteo-flex-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: black;
  height: 50px;

}

.margin {
   margin-bottom: 40px;
}

.padding-side {
   padding-left: 20px;
   padding-right: 20px;
}

