*{
    box-sizing: border-box;
}

html,body {
    height: 100%;
  }

body.accueil{
    background-color: #fff;
    margin:0;
    display:block;
    width:100%;
    overflow-x:hidden;  
    font-size: 18px;
}

header{
    background-color: #b82c35;
    display:block;
    height:80px;
    padding:10px;
    margin:0px;
    overflow:hidden;
}

.accueil header{
    background-color: #ffffff;
}

.accueil h1{
    font-size:3em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

.accueil #intro p{
    font-size:1em;
    color: #ffffff;
    margin-top:20px;
}

.accueil article{
    display:block;
    background-image: url("../media/mucem.jpg");
    background-size: cover;
    background-position: center center;    
    width:100%;
    height: calc(100% - 80px);
    min-height:800px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.accueil section {
    width:100%;
    display:block;
    background-color: transparent;
}

.accueil section#intro {
    display:block;
    padding:30px;
    padding-top:30%;
}

.accueil section#bandeau {
    display:block;
    bottom:0px;
    padding:30px;
    text-align:center;
    background-color: rgba(0,0,0,0.5);
}
.accueil section#infos{
    display:block;
    position:relative;
    text-align:center;
}

.accueil footer{
    background-color: #f8f8f8;
    height:100px;
}

.logo{
    height: 60px;
    margin: 0;
    padding:0;
    position:relative;
    top:0px;
    left:0px;
}


.accueil .btn-medium {
    color: #999999;
    border: 1px solid #999999;
    padding: 10px 15px; 
    border-radius: 50px;
    font-weight: lighter;
    opacity: 1;
   }


.accueil .dropdown {
    opacity: 1;
} 

.accueil .dropdown-menu{
    border-radius:20px;
    width:100%;
    padding:5px;
    z-index: 100;
    background-color:transparent;
}

.accueil .dropdown-item{
    display:block;
    background-color: rgba(246,223,77,1);
    border-radius:20px;
    padding:10px 20px 10px 20px;
    margin:1px;
    z-index: 110;
}

.accueil .dropdown-item:hover{
    display:block;
    background-color: rgba(246,223,77,1);
    border-radius:20px;
    padding:10px;
    margin:10px;
    z-index: 110;
    position:relative;
    top:0px;
    left:0px;
}

<<<<<<< HEAD
.accueil #infos h1{
    color: #2b3376;
    font-size:2em;
    font-weight: 800;   
    text-align:center; 
    text-transform: none;
    margin:20px;
}
=======
>>>>>>> c7b7124c31e5b7bd52944b2599d12be85bc49c39

.hidden{
    visibility:hidden;
    display:none;
}

.hashtag{
    color:#f6df4d;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  @media (max-width: 600px) {
    .accueil h1{
        font-size:1.5em;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
    }
    .accueil #infos h1{
        font-size:1.5em;
    }

    .accueil #intro p{
        font-size: 0.9em;
        color: #ffffff;
    }

    .accueil section#intro {
        padding-top:15%;
    }
    
    .accueil section#bandeau {
        padding:10px;
        border-top: 1px solid rgba(255,255,255,0.2);
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }


    .accueil button, .accueil .bouton{

        display:block;
        width:90%;
        margin: 10px auto;
    }
  }