*{
    box-sizing: border-box;
}

html,body {
    height: 100%;
  }

body.accueil{
    background-color: #fff;
    margin:0;
    display:block;
    width:100%;
    overflow-x:hidden;  
    font-size: 18px;
}

header{
    background-color: #b82c35;
    display:block;
    height:60px;


    overflow:hidden;
}

.accueil header{
    background-color: #ffffff;
}

.accueil h1{
    font-size:3em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}
.accueil #intro p{
    font-size:1em;
    color: #ffffff;
}
.accueil article{
    background-image: url("../media/mucem.jpg");
    background-size: cover;
    background-position: center center;
    width:100%;
    height:100%;
}

footer{
    background-color: #f8f8f8;
}

.logo{
    height: 60px;
    margin: 0;
    padding:0;
    position:relative;
    top:0px;
    left:0px;
}

.btn-medium {
    color: #999999;
    border: 1px solid #999999;
    padding: 10px 15px; 
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
   }

.hidden{
    visibility:hidden;
    display:none;
}

.hashtag{
    color:#f6df4d;
}