*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    margin:0;
    display:block;
    width:100%;
    height:100%;
    overflow-x:hidden;
}

header{
    background-color: #b82c35;
    dislay:block;
    height:60px;
    overflow:hidden;
}

header.accueil{
    background-color: #ffffff;
}

h1{
    font-size:2em;
    color: #ffffff;
    text-transform: uppercase;
}

article.accueil{
    background-image: url("../media/mucem.jpg");
    background-size: cover;
    background-position: center center;
    width:100%;
    height:100%;
    min-height: 1000px;
}

footer{
    background-color: #f8f8f8;
}

.logo{
    height: 60px;
    margin: 0;
    padding:0;
    position:relative;
    top:0px;
    left:0px;
}

.btn-medium {
    color: #999999;
    border: 1px solid #999999;
    padding: 10px 15px; 
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
   }

.hidden{
    visibility:hidden;
    display:none;
}