

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {

    width: 100%;
    height:100%;
    overflow: hidden;

}

.WallOfPictures {

    z-index: 11;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(11,11,11,0.6);
    //border: 1px solid black;

}

#ImgWall {
    box-shadow: 11px 12px 20px 1px black;
}

.map {

    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    //border: 1px solid black;

}

#navRight {
    display: none;
    position: fixed;
    z-index: 10;
    height: calc(100vh - 50px);
    width: 200px;
    right: 0;
    top: 0;
    background-color: rgba(11,11,11, 0.7);
    padding-bottom: 50px;
    overflow: auto;
}

.second {
    //display: none;
    z-index: 10;
}

.overlay-box {
    
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    background-color: rgba(11,11,11, 0.6);
    border: 1px solid #000;
    color: white;
    z-index: 12;
    text-align:center;
    height: 200px;/*height needs to be set*/
    width: 550px;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

#navBottom {
    position: fixed;
    display: none;
    z-index: 10;
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(11,11,11, 0.6);
}

#UpPage {
    display: none;
    position: absolute;
    z-index: 1000;
    margin-left: 50px;
    margin-bottom: 80px;
    left: 0;
    bottom: 0;
    opacity: 0.7;
}

#imgLike {
    width: 30px;
    height: 30px;
}

#mapHome {

    z-index: 10;
    width: 100%;
    height: 100%;

}

.header {
    z-index: 12;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}















